.footer {
  position: relative;
  z-index: 10;
  /* background-color: white; Dark background */
  color: black;
  margin-top: -6%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.list-unstyled {
  margin-top: 18px;
}
.location-info {
  margin-top: 18px;
}
.footer > .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactinfo {
  padding-left: 30px;
  /* border: 1px solid red; */
}

.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 1024px) {
  .footer > .container {
    max-width: 80%;
    flex-direction: column;
    text-align: start;
  }

  .contactinfo {
    padding-left: 20;
    margin-top: 10px;
  }
  .company {
    padding-left: 20px;
  }
}

.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
