/* --- Full Page Background Image --- */
.product-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background: url('/img/Jyoti_Eng_Logo.jpg')   Correct Path */
}


  .product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);  /* Dark overlay for readability */
    color: #fff;                      /* White text for readability */
    overflow-y: auto;                  /* Scrollable content */
  }

/* 
  .full-size{
    border: 2px solid black;
    width: 70%;
  } */


  @media (max-width: 480px) {
    .full-size{
        /* border: 2px solid black; */
        width: 80%;
      }
      .one{
        /* border: 2px solid red; */
        width: 80%;
      }
    }
    
  @media (max-width: 375px) {
    .full-size{
        /* border: 2px solid black; */
        width: 75%;
      }
    }